<!-- templates/landing_page.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Travel Planner Pro</title>
</head>
<body>
    <h1>Welcome to Travel Planner Pro</h1>
    <form action="/search" method="post">
        <input type="text" name="search_keyword" placeholder="Enter a destination keyword">
        <button type="submit">Search</button>
    </form>
    {% if search_results %}
        <h2>Search Results</h2>
        <ul>
            <li>    
                <h3>{{ search_results.name }}</h3>
                <p>{{ search_results.description }}</p>
                <p>Attractions: {{ search_results.attractions }}</p>
                <p>Weather: {{ search_results.weather }}</p>
                <p>Expenses: {{ search_results.expenses }}</p>
                <form action="/itinerary" method="post">
                    <input type="text" name="search_results" value={{search_results}} hidden>
                    <input type="number" name="days" placeholder="Enter days" required>

                    <button>view iternary</button>
                </form>
                
            </li>
        </ul>
    {% endif %}
</body>
</html>
